html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.line {
    overflow: hidden;
    border-bottom: 1px solid #777;
    padding-bottom: 19px;
}

.block1 {
    float: left;
    margin-top: 24px;
}

.block2 {
    width: 279px;
    height: 108px;
    margin-left: 23px;
    margin-top: 24px;
    background-color: #777;
    float: left;
}

.block3 {
    width: 513px;
    height: 108px;
    margin-top: 24px;
    background-color: #777;
    margin-left: 22px;
    float: left;
}

.block3-text {
    text-align: right;
    color: white;
    font-size: 14px;
    font-family: Arial;
    margin-right: 24px;
    margin-top: 19px;
    line-height: 22px;
}

a {
    color: white;
}

.content {
    overflow: hidden;
    padding: 22px 0 20px;
    position: relative;
}

.left {
    float: left;
}

.block4 {
    width: 184px;
    background-color: #777;
}

.block4-text {
    text-align: left;
    color: white;
    font-size: 14px;
    line-height: 22px;
    list-style: none;
    padding: 14px 10px 13px 13px;
    margin: 0;
}

.block7 {
    position: absolute;
    background-color: #777;
    bottom: 20px;
    left: 0;
}

.center {
    float: right;
    width: 756px;
}

.block5 {
    background-color: #dcdcdc;
    position: relative;
    padding: 20px 19px 18px;
    margin: 0;
    color: #777;
}

.block5-list {
    font-size: 14px;
    text-align: left;
    color: #777;
    line-height: 22px;
    padding: 11px 30px;
    list-style: none;
}

.block5-list-item:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #777;
    display: block;
    left: 0;
    top: 10px;
}

.block5-list-item {
    position: relative;
    padding-left: 9px;
}

h4 {
    margin: 0;
    font-size: 14px;
}

.list {
    position: relative;
    margin: 0;
    padding: 22px 0 22px 40px;
    list-style: none;
}

p {
    margin:0;
    font-size: 14px;
}

.block6-wrapper {
    overflow: hidden;
    margin-left: -21px;
}

.block6 {
    float: left;
    display: block;
    margin: 20px 0 0 21px;
}

.center-bottom {
    overflow: hidden;
    margin-top: 19px;
}

.block8 {
    width: 330px;
    height: 165px;
    background-color: #dcdcdc;
    font-size: 14px;
    text-align: left;
    color: #777;
    line-height: 22px;
    float: left;
    padding: 18px;
}

.block9 {
    width: 335px;
    height: 165px;
    background-color: #dcdcdc;
    font-size: 14px;
    text-align: left;
    color: #777;
    line-height: 22px;
    float: right;
    padding: 18px;
    margin-left: 17px;
}

.footer {
    overflow: hidden;
    border-top: 1px solid #777;
    padding: 23px 0;
    margin-top: 4px;
}

.block10 {
    width: 264px;
    height: 159px;
    background-color: #777;
    margin-right: 27px;
    float: left;
    padding: 12px 10px 9px 23px;
}

.block10-list {
    font-size: 14px;
    color: white;
    line-height: 22px;
    list-style: none;
    columns: 2;
    text-align: left;
    padding: 0;
    margin: 0;
    column-gap: 0;
}

.block11 {
    width: 298px;
    height: 180px;
    background-color: #777;
    float: left;
}

.block11-list {
    font-size: 14px;
    text-align: left;
    color: white;
    line-height: 22px;
    padding: 12px 26px;
    list-style: none;
    margin: 0;
}

.block11-list-item:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: white;
    left: 0px;
    top: 11px;
}

.block11-list-item {
    position: relative;
    padding-left: 12px;
}

.footer-right {
    overflow: hidden;
}

.block12 {
    width: 308px;
    height: 76px;
    background-color: #777;
    float: left;
    margin-left: 28px;
}

.block13 {
    float: right;
    margin-left: 28px;
    margin-top: 28px;
}

.proverka {
    position: absolute;
    background-image: url("./images/main.jpg");
    width: 1100px;
    height: 1200px;
    left: 370px;
    top: 0;
    opacity: 0.5;
    /*display: none;*/
}
